#01. Import Libraries

In [1]:
# import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/golde/Instacart Basket Analysis/'

In [3]:
orders_products_combined =pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# check shape
orders_products_combined.shape

(30356421, 10)

In [5]:
df_prods =pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_cleaned.csv'), index_col = False)

In [7]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [10]:
df_prods.shape

(49672, 5)

In [11]:
#merge together 
df_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = 'exists')

In [12]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
1,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
2,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
3,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both
4,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,both

In [13]:
df_merged['exists'].value_counts()

both          30328763
left_only            0
right_only           0
Name: exists, dtype: int64

In [14]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))