#01. import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

#02. Data

In [2]:
path = r'/Users/golde/Instacart Basket Analysis/'

In [3]:
ords_prods_merged =pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_updated.pkl'))

In [5]:
#create subset
df = ords_prods_merged[:1000000]

In [6]:
#agg mean
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                19.765396
7                18.575283
13               18.950838
14               20.460336
16               20.262396
17               12.646785
19               20.168036
20               18.808671

In [7]:
df.groupby('department_id')['order_number'].mean()

department_id
4     19.765396
7     18.575283
13    18.950838
14    20.460336
16    20.262396
17    12.646785
19    20.168036
20    18.808671
Name: order_number, dtype: float64

In [8]:
#agg multiple
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                19.765396   2  99
7                18.575283   2  99
13               18.950838   2  99
14               20.460336   2  99
16               20.262396   2  99
17               12.646785   2  98
19               20.168036   2  99
20               18.808671   2  99

In [9]:
#agg mean for full dataframe
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

The process took longer to run on the full data frame. It also gives all the department id numbers rather than just a few.

In [10]:
#creating loyalty flags
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
pd.options.display.max_rows = None

In [12]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: loyalty_flag, dtype: int64

In [14]:
#check data
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             2
1         1      New customer             3
2         1      New customer             4
3         1      New customer             5
4         1      New customer             6
5         1      New customer             7
6         1      New customer             8
7         1      New customer             9
8         1      New customer            10
9        15  Regular customer            15
10       15  Regular customer            17
11       15  Regular customer            18
12       15  Regular customer            21
13       15  Regular customer            22
14       19      New customer             2
15       19      New customer             5
16       19      New customer             7
17       21  Regular customer            10
18       31  Regular customer            10
19       31  Regular customer            17
20       43  Regular customer             6
21       43  Regular customer             9
22       52  Regular customer             2
23       52  Regular customer             3
24       52  Regular customer             5
25       52  Regular customer             7
26       52  Regular customer             9
27       52  Regular customer            10
28       52  Regular customer            11
29       52  Regular customer            12
30       52  Regular customer            15
31       52  Regular customer            17
32       52  Regular customer            18
33       52  Regular customer            19
34       52  Regular customer            21
35       67  Regular customer             2
36       67  Regular customer             3
37       67  Regular customer             4
38       67  Regular customer             5
39       67  Regular customer             6
40       67  Regular customer             8
41       67  Regular customer             9
42       67  Regular customer            10
43       67  Regular customer            11
44       67  Regular customer            12
45       67  Regular customer            13
46       67  Regular customer            14
47       67  Regular customer            16
48       67  Regular customer            18
49       67  Regular customer            19
50       67  Regular customer            21
51       67  Regular customer            22
52       67  Regular customer            23
53       81      New customer             3
54       81      New customer             5
55       82  Regular customer             3
56       82  Regular customer             4
57       82  Regular customer             6
58       82  Regular customer             9
59       82  Regular customer            10

In [17]:
#check product price by customer status
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.402162  1.0  99999.0
New customer      13.396333  1.0  99999.0
Regular customer  12.546842  1.0  99999.0

In [20]:
#create spender flag
ords_prods_merged['spender_type'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
ords_prods_merged.loc[ords_prods_merged['spender_type'] >= 10, 'spender_flag'] = 'High Spender'
ords_prods_merged.loc[ords_prods_merged['spender_type'] < 10, 'spender_flag'] = 'Low Spender'

In [22]:
ords_prods_merged['spender_flag'].value_counts(dropna = False)

Low Spender     29730531
High Spender      598232
Name: spender_flag, dtype: int64

In [27]:
ords_prods_merged[['user_id', 'spender_flag', 'prices']].head(60)

    user_id spender_flag  prices
0         1  Low Spender     9.0
1         1  Low Spender     9.0
2         1  Low Spender     9.0
3         1  Low Spender     9.0
4         1  Low Spender     9.0
5         1  Low Spender     9.0
6         1  Low Spender     9.0
7         1  Low Spender     9.0
8         1  Low Spender     9.0
9        15  Low Spender     9.0
10       15  Low Spender     9.0
11       15  Low Spender     9.0
12       15  Low Spender     9.0
13       15  Low Spender     9.0
14       19  Low Spender     9.0
15       19  Low Spender     9.0
16       19  Low Spender     9.0
17       21  Low Spender     9.0
18       31  Low Spender     9.0
19       31  Low Spender     9.0
20       43  Low Spender     9.0
21       43  Low Spender     9.0
22       52  Low Spender     9.0
23       52  Low Spender     9.0
24       52  Low Spender     9.0
25       52  Low Spender     9.0
26       52  Low Spender     9.0
27       52  Low Spender     9.0
28       52  Low Spender     9.0
29       52  Low Spender     9.0
30       52  Low Spender     9.0
31       52  Low Spender     9.0
32       52  Low Spender     9.0
33       52  Low Spender     9.0
34       52  Low Spender     9.0
35       67  Low Spender     9.0
36       67  Low Spender     9.0
37       67  Low Spender     9.0
38       67  Low Spender     9.0
39       67  Low Spender     9.0
40       67  Low Spender     9.0
41       67  Low Spender     9.0
42       67  Low Spender     9.0
43       67  Low Spender     9.0
44       67  Low Spender     9.0
45       67  Low Spender     9.0
46       67  Low Spender     9.0
47       67  Low Spender     9.0
48       67  Low Spender     9.0
49       67  Low Spender     9.0
50       67  Low Spender     9.0
51       67  Low Spender     9.0
52       67  Low Spender     9.0
53       81  Low Spender     9.0
54       81  Low Spender     9.0
55       82  Low Spender     9.0
56       82  Low Spender     9.0
57       82  Low Spender     9.0
58       82  Low Spender     9.0
59       82  Low Spender     9.0

In [28]:
# create frequency flag
ords_prods_merged['frequency_type'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
ords_prods_merged.loc[ords_prods_merged['frequency_type'] > 20, 'frequency_flag'] = 'Non-Frequent Customer'
ords_prods_merged.loc[(ords_prods_merged['frequency_type'] <= 20) & (ords_prods_merged['frequency_type'] > 10), 'frequency_flag'] = 'Regular Customer'
ords_prods_merged.loc[ords_prods_merged['frequency_type'] <= 10, 'frequency_flag'] = 'Frequenct Customer'

In [30]:
ords_prods_merged['frequency_flag'].value_counts(dropna = False)

Frequenct Customer       20675290
Regular Customer          6594542
Non-Frequent Customer     3058931
Name: frequency_flag, dtype: int64

In [31]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_updated2.pkl'))